<div class="container">
  <div class="container-fluid">
    <div class="text-center">
      <h1>Customer Overview</h1>
      <button (click)="openCustomerDialog()" mat-raised-button>Add new customer</button>
    </div>
    <div class="mt-5">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <ng-container *ngIf="!loading">
        <div class="row pt-3 mat-elevation-z8" *ngIf="hasCustomers; else emptyBlock">
          <mat-table [dataSource]="customers">
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
              <mat-cell *matCellDef="let customer"> {{customer.firstName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let customer"> {{customer.lastName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="birthDate">
              <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
              <mat-cell *matCellDef="let customer"> {{customer.birthDate | date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <button mat-flat-button (click)="openCustomerDialog(customer, true)">
                  <div class="d-none d-md-block">Edit</div>
                  <div class="d-md-none"><mat-icon>edit</mat-icon></div>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [length]="totalResults"
                         [pageSize]="50"
                         (page)="nextPage($event)"
                         [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #emptyBlock>
  <div class="card text-center mb-3">
    <div class="card-body">
      <h2 class="card-title" style="font-size: x-large">We're just starting!</h2>
      <div class="card-text">
        <div style="font-size: large">
          <p>Please add customers to see their details here</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
