<h2 mat-dialog-title>Customer Management</h2>
<hr>

<mat-dialog-content [formGroup]="form">
  <!--First Name-->
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Your first name" formControlName="firstName">
      <mat-icon matSuffix>contacts</mat-icon>
    </mat-form-field>
  </div>

  <!--Last Name-->
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Your last name" formControlName="lastName">
      <mat-icon matSuffix>contacts</mat-icon>
    </mat-form-field>
  </div>

  <!--Birthday-->
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Your birthday" formControlName="birthDate">
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button class="mat-raised-button primary" (click)="save()">Save</button>
</mat-dialog-actions>
