<div class="container">
  <div class="container-fluid centered">
    <h1 class="text-center">Welcome! What would you like to do today?</h1>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-12 margin-sm">
        <a routerLink="/customers">
          <button mat-raised-button aria-label="Customer Management">
            <mat-icon>supervisor_account</mat-icon>
            Customer Management
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 margin-sm">
        <a routerLink="/vehicles">
          <button mat-raised-button aria-label="Vehicle Management">
            <mat-icon>directions_car</mat-icon>
            Vehicle Management
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 margin-sm">
        <a routerLink="/contracts">
          <button mat-raised-button aria-label="Contract Management">
            <mat-icon>assignment</mat-icon>
            Contract Management
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

